.container {
  position: relative;
  display: flex;
  align-items: stretch;
}

.input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.addon {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(100% + 10px);
  max-height: 185px;
  overflow-y: auto;

  p {
    padding: 10px;
    cursor: pointer;
  }
}

.closeResults {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
}