.container {
  width: 100%;
}

.toolbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.tool {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.pagination {
  padding: 10px 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableRow {
  display: grid;
}

.th {
  &::first-letter {
    text-transform: uppercase;
  }
}

.th {
  text-align: left;
  padding: 10px 0;
}

.tableBody {
  .td {
    padding: 10px 0;
  }
}